@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
.logo img{
  height:50px;
  width:50px;
}
.logo{
display: flex;
justify-content:space-between;
align-items: center;
  padding:10px;
}
.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.heading{
  font-family: 'Tilt Neon', cursive;
  box-shadow: -5px 0px 28px 6px rgba(0,0,0,0.1);
}
